{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="column is-two-quarters">
    <div class="card mt-4">
        <header class="card-header">
            <p class="card-header-title">
                About Team Skeletonic
            </p>
        </header>
        <div class="card-content">
            <h3>We're a 3 person team in the General Assembly Software Engineering Immersion.</h3>
            <br>
            <br>
            <div class="content">
                <main class="container mx-4">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                                <img src="{% static 'img/colin.jpeg' %}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Colin MacDonald</strong> <small>GitHub Guru, Flex Master</small>
                                    <br>
                                    While doing his daily exercises of lifting things up and putting them back down,
                                    Colin picked up a book titled "Coding for Dummies" and never put it back down.
                                </p>
                            </div>
                    </article>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                                <img src="{% static 'img/keenan.jpg' %}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Keenan Hillerbrand</strong> <small>Database Djinn</small>
                                    <br>
                                    When someone polishes their camera in a zoom call, Keenan appears to grant them wishes 3. and then he spends 2 hours reading documentation and guessing an answer
                                </p>
                            </div>
                    </article>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-128x128">
                                <img src="{% static 'img/steph.jpg' %}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Stephanie Rinehart</strong> <small>Overly Organized Task Master</small>
                                    <br>
                                    With dreams of one day living in a cabin in the woods, far away from people,
                                    Stephanie has spent years honing her ability to search for anything on the internet so she can survive anything. 
                                    She did not consider that there might not be wifi in the woods.
                                </p>
                            </div>
                    </article>
                    {% endblock %}