{% extends 'base.html' %}
{% block content %}

<div class="column is-two-quarters">
  <div class="card mt-4">
    <header class="card-header">
      <p class="card-header-title">
      Free Time Fixer
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <main class="container mx-4">
<h2>How to Fix your Free Time: </h2>
        <li> Login above to start adding activities. </li>
        <li> When you have free time, use the dropdowns to select a time frame and a category of an activity. </li>
        <li> Do a random activity that is chosen for you!</li>
        </ul>

{% endblock %}