{% extends 'base.html' %}
{% block content %}
<div class="column is-two-quarters">
  <div class="card mt-4">
    <header class="card-header">
      <p class="card-header-title">
        Got Free Time? Find an Activity!
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <main class="container">
          <center>
            <form method="GET" class="form is-medium">
              {{ filter.form.as_p}}
              <button class="button is-light" type="submit">Search</button>
            </form>
          </center>
          <br />
          <hr>
          {% if anything.count %}
          <div class="box">
            <div class="content">
              {% for activity in anything %}
              <p class="has-text-centered">
              You have <strong>{{ activity.timeChoices }} minutes</strong> and you want to
              <strong>{{ activity.category }}</strong></p><br />
              <h4 class="mt-4">You Should</h5>
                <ul>
                  <li><strong>Activity Name:</strong> {{ activity.name }}</li>
                  <li><strong>Description:</strong> {{ activity.description }}</li>
                </ul>
                {% endfor %}
            {% else %}
            <div class="box">
            <div class="content">
            No Activities. Try <a href="{% url 'activities_create' %}">adding some!</a>
            {% endif %}
          </div>
      </div>
      {% endblock %}