{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bulma.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Free Time Fixer</title>
    </head>

    <body>

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="">
                    <img src="images/logo3.png">
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-end is-spaced">
                <div class="navbar-item">
                    <a href="" class="navbar-item">My List</a>
                    <a href="" class="navbar-item">Add Activies</a>
                    <a href="" class="navbar-item">Go Home</a>
                    </a>
                </div>
            </div>
            </div>
            </div>
        </nav>